{% extends "layout.html" %}
{% block content %}
    <div class="container">
        {% if donation.rejected %}
            <h2 style="color: darkred"><center>Rejected Donation Request</center></h2>
        {% elif donation.accepted %}
            <h2 style="color: green"><center>Accepted Donation Request</center></h2>
        {% else %}
            <h2 style="color: yellow"><center>Pending Donation Request</center></h2>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <b>Medicine Name :</b>
                        </td>
                        <td>
                            {{ donation.medicine_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Quantity :</b>
                        </td>
                        <td>
                            {{ donation.quantity }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Donate Date :</b>
                        </td>
                        <td>
                            {{ donation.donation_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Donated To :</b>
                        </td>
                        <td>
                            {{ ngo.id }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Ngo Mobile Number :</b>
                        </td>
                        <td>
                            {{ ngo.mobile }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Ngo Email Id :</b>
                        </td>
                        <td>
                            {{ ngo.email }}
                        </td>
                    </tr>
                    {% if reject_by %}
                        <tr>
                            <td colspan="2"><h6></h6></td>
                        </tr>
                        <tr>
                            <td colspan="2"><center><h6 style="color: darkred">Rejected</h6></center></td>
                        </tr>
                    <tr>
                        <td>
                            Rejected By:
                        </td>
                        <td>
                            {{ reject_by.ngo_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reason:
                        </td>
                        <td>
                            {{ donation.comment }}
                        </td>
                    </tr>
                        <tr>
                            <td colspan="2"><a class="btn btn-info" href="{{ url_for('refillDonationRequest',don_id=donation.id) }}" role="button">Refill Request Form</a></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        <div class="col-md-6">
            <img src="{{ url_for('static',filename='medicine_img/' + donation.medicine_img) }}" style="height: 90%; width: 90%; border: dashed">
        </div>
    </div>
    </div>
        <br>
    <div class="container">
        <a class="btn btn-success" href="{{ url_for('donationHistory') }}" role="button">Back To Donate History</a>
    </div>
{% endblock content %}