{% extends "layout.html" %}
{% block content %}
{#    <h1>User Dashboard</h1>#}
   <div class="jumbotron">
    <h1>Welcome {{ name }}</h1>
    </div>
    <div class="wrapper">
         <div class="container-fluid" >
             <div class="row" style="margin: 0 auto;">
                  <div id="test" class="text-center alert-primary col-md-2 ml-4">
                    <p style="font-size: xx-large">Total accepted Request:{{ data[0] }}</p>
                  </div>
                  <div id="test" class="text-center alert-info col-md-2 ml-5">
                    <p style="font-size: xx-large">Total Accepted Donation:{{ data[1] }}</p>
                 </div>
             </div>
         </div>
    </div>
{% endblock content %}