{% extends "layout.html" %}
{% block content %}
    <h1>Request Details</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <b>Medicine Name :</b>
                        </td>
                        <td>
                            {{ request.medicine_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Quantity :</b>
                        </td>
                        <td>
                            {{ request.quantity }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Request Date :</b>
                        </td>
                        <td>
                            {{ request.request_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Doctor Name :</b>
                        </td>
                        <td>
                            {{ request.doctor_name }}
                        </td>
                    </tr>
                </table>
            </div>
        <div class="col-md-6">
            <img src="{{ url_for('static',filename='presc/' + request.prescription) }}" style="height: 90%; width: 90%; border: dashed">
        </div>
    </div>
    </div>
        <br>
    <div class="container">
        <a class="btn btn-success" href="{{ url_for('accepted',req_id=request.id) }}" role="button">Accept</a>
    <a class="btn btn-danger" href="{{ url_for('rejectRequest',req_id=request.id) }}" role="button">Reject</a>
    </div>
{% endblock content %}