{% extends "layout.html" %}
{% block content %}
<h1>Terms and Conditions*</h1>
<h3>For Donation</h3>
<h4><pre>
    This is a portal where you can donate your unused medicines to the NGO.
    Don't donate expiry medicine.
    Suspicious Donation may lead to penalise.</pre></h4>

<br>
<br>

<h3>For Request</h3>
<h4><pre>
    we are providing free medicine.
    If some one request medicine and gets harms we will not responsible for it.
    User must provide Doctor Prescription.
    </pre></h4>


{% endblock content %}